<div class="container-fluid">
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card mt-2 mb-2" style="width: 24rem; margin-left: auto; margin-right: auto;">
      <figure class="figure ml-auto mr-auto">
        <img src="/assets/images/logo.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="card mt-2 mb-2" style="width: 24rem; margin-left: auto; margin-right: auto;">
      <figure class="figure ml-auto mr-auto">
        <img src="/assets/images/logo.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mt-2 mb-2" style="width: 24rem; margin-left: auto; margin-right: auto;">
      <figure class="figure ml-auto mr-auto">
        <img src="/assets/images/logo.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mt-2 mb-2" style="width: 24rem; margin-left: auto; margin-right: auto;">
      <figure class="figure ml-auto mr-auto">
        <img src="/assets/images/logo.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mt-2 mb-2" style="width: 24rem; margin-left: auto; margin-right: auto;">
      <figure class="figure ml-auto mr-auto">
        <img src="/assets/images/logo.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
</div>
