<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>
        <a class="btn btn-xs btn-link btn-toggle-fullwidth" href="javascript:void(0);">
          <!-- BACK ARROW -->
          <i class="fa fa-arrow-left ng-star-inserted"></i>
          <!-- BACK ARROW -->
        </a> Validation
      </h2>
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/templates/lucid/angular/admin">
            <i class="icon-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">Form</li>
        <li class="breadcrumb-item active">Validation</li>
      </ul>
    </div>
  </div>
</div>


