<!-- <p>main works!</p> -->
<div class="body theme-cyan" [ngClass]="{'offcanvas-active': canvas}">
  <div id="wrapper">
    <gr-header (toggelCanvas)="onToggelCanvas($event)"></gr-header>
    <gr-side-bar [show]="show"></gr-side-bar>
    <div id="main-content" [ngClass]="{'layout-fullwidth': !show}">
      <div class="container-fluid">
        <gr-breadcrumb (toggelSideBar)="onToggelSideBar($event)"></gr-breadcrumb>
        <div class="row clearfix">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <gr-footer></gr-footer>
  </div>
</div>
