.hi-icon {
  display: inline-block;
  cursor: pointer;
  // width: 90px;
  // height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #212529;
}

.hi-icon:hover {
  // background: #f8f9fa!important;
  color: #aaa;
}

.pointer {
  cursor: pointer;
}
